# First, ignore everything
*

# Now, whitelist anything that's a directory ( http://stackoverflow.com/a/9227991/116895 )
!*/

# And then whitelist .gitattributes	and .gitignore
!.gitattributes
!.gitignore

# And then whitelist ConsistencyConfig.json
!config/ConsistencyConfig.json

# And then whitelist TGNS Steam Workshop mod files
!mods/tgns/mod.settings
!mods/tgns/preview.jpg

# And then whitelist mod sound files
!mods/tgns/fmod/readme.txt
!mods/tgns/fmod/assets/countdown.wav
!mods/tgns/fmod/assets/tooltip.wav
!mods/tgns/fmod/tgns.fdp
!mods/tgns/output/sound/tgns.fev
!mods/tgns/output/sound/tgns.fsb
!mods/tgns/output/sound/tgns.soundinfo

# And then whitelist TGNS common/shared files
!mods/tgns/output/lua/tgns/TGNS.lua

!mods/tgns/output/lua/tgns/client/TGNSCommonClient.lua

!mods/tgns/output/lua/tgns/server/TGNSAverageCalculator.lua
!mods/tgns/output/lua/tgns/server/TGNSClientKicker.lua
!mods/tgns/output/lua/tgns/server/TGNSCommonServer.lua
!mods/tgns/output/lua/tgns/server/TGNSConnectedTimesTracker.lua
!mods/tgns/output/lua/tgns/server/TGNSDataRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSMessageDisplayer.lua
!mods/tgns/output/lua/tgns/server/TGNSMonthlyNumberGetter.lua
!mods/tgns/output/lua/tgns/server/TGNSNs2StatsProxy.lua
!mods/tgns/output/lua/tgns/server/TGNSPlayerBlacklistRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSPlayerDataRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSPlayerPreferredRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSScoreboardMessageChanger.lua
!mods/tgns/output/lua/tgns/server/TGNSScoreboardPlayerHider.lua
!mods/tgns/output/lua/tgns/server/TGNSServerInfoGetter.lua
!mods/tgns/output/lua/tgns/server/TGNSSessionDataRepository.lua

!mods/tgns/output/lua/tgns/shared/TGNSCommonShared.lua
!mods/tgns/output/lua/tgns/shared/TGNSComprehension.lua
!mods/tgns/output/lua/tgns/shared/TGNSJsonEndpointTranscoder.lua
!mods/tgns/output/lua/tgns/shared/TGNSJsonFileTranscoder.lua
!mods/tgns/output/lua/tgns/shared/TGNSMenuDisplayer.lua

# And then whitelist Shine extension files

!mods/tgns/output/lua/shine/extensions/adminmenu/client.lua
!mods/tgns/output/lua/shine/extensions/adminmenu/server.lua
!mods/tgns/output/lua/shine/extensions/adminmenu/shared.lua
!mods/tgns/output/lua/shine/extensions/autoexec/client.lua
!mods/tgns/output/lua/shine/extensions/autoexec/server.lua
!mods/tgns/output/lua/shine/extensions/autoexec/shared.lua
!mods/tgns/output/lua/shine/extensions/scoreboard/client.lua
!mods/tgns/output/lua/shine/extensions/scoreboard/server.lua
!mods/tgns/output/lua/shine/extensions/scoreboard/shared.lua
!mods/tgns/output/lua/shine/extensions/wraplength/client.lua
!mods/tgns/output/lua/shine/extensions/wraplength/server.lua
!mods/tgns/output/lua/shine/extensions/wraplength/shared.lua

!mods/tgns/output/lua/shine/extensions/everysecond/shared.lua

!mods/tgns/output/lua/shine/extensions/afkchanged.lua
!mods/tgns/output/lua/shine/extensions/afkkickhelper.lua
!mods/tgns/output/lua/shine/extensions/audit.lua
!mods/tgns/output/lua/shine/extensions/autoexec.lua
!mods/tgns/output/lua/shine/extensions/balance.lua
!mods/tgns/output/lua/shine/extensions/betterknownas.lua
!mods/tgns/output/lua/shine/extensions/bots.lua
!mods/tgns/output/lua/shine/extensions/broadcast.lua
!mods/tgns/output/lua/shine/extensions/captains.lua
!mods/tgns/output/lua/shine/extensions/chatchannels.lua
!mods/tgns/output/lua/shine/extensions/communityslots.lua
!mods/tgns/output/lua/shine/extensions/disablestockmapvote.lua
!mods/tgns/output/lua/shine/extensions/emptymapcycler.lua
!mods/tgns/output/lua/shine/extensions/endgamecommands.lua
!mods/tgns/output/lua/shine/extensions/enforceteamsizes.lua
!mods/tgns/output/lua/shine/extensions/forceroundstart.lua
!mods/tgns/output/lua/shine/extensions/friendlyfiretweaks.lua
!mods/tgns/output/lua/shine/extensions/fullgameplayed.lua
!mods/tgns/output/lua/shine/extensions/gamestartevents.lua
!mods/tgns/output/lua/shine/extensions/gamestracker.lua
!mods/tgns/output/lua/shine/extensions/greetings.lua
!mods/tgns/output/lua/shine/extensions/groundedrookies.lua
!mods/tgns/output/lua/shine/extensions/help.lua
!mods/tgns/output/lua/shine/extensions/hidefullmodlist.lua
!mods/tgns/output/lua/shine/extensions/hidespectators.lua
!mods/tgns/output/lua/shine/extensions/improvedafkhandler.lua
!mods/tgns/output/lua/shine/extensions/lookdown.lua
!mods/tgns/output/lua/shine/extensions/mapvotehelper.lua
!mods/tgns/output/lua/shine/extensions/modupdatednotice.lua
!mods/tgns/output/lua/shine/extensions/noattackpregame.lua
!mods/tgns/output/lua/shine/extensions/notifyadminonmuteplayer.lua
!mods/tgns/output/lua/shine/extensions/permissions.lua
!mods/tgns/output/lua/shine/extensions/playerlocationchanged.lua
!mods/tgns/output/lua/shine/extensions/printablenames.lua
!mods/tgns/output/lua/shine/extensions/push.lua
!mods/tgns/output/lua/shine/extensions/reluse.lua
!mods/tgns/output/lua/shine/extensions/rookiethrottle.lua
!mods/tgns/output/lua/shine/extensions/scoreboardicons.lua
!mods/tgns/output/lua/shine/extensions/sidebar.lua
!mods/tgns/output/lua/shine/extensions/spawnselectionoverrides.lua
!mods/tgns/output/lua/shine/extensions/speclimit.lua
!mods/tgns/output/lua/shine/extensions/speclisten.lua
!mods/tgns/output/lua/shine/extensions/stagedteamjoins.lua
!mods/tgns/output/lua/shine/extensions/statusextended.lua
!mods/tgns/output/lua/shine/extensions/taglines.lua
!mods/tgns/output/lua/shine/extensions/targetedcommands.lua
!mods/tgns/output/lua/shine/extensions/teamres.lua
!mods/tgns/output/lua/shine/extensions/teamroles.lua
!mods/tgns/output/lua/shine/extensions/teamticker.lua
!mods/tgns/output/lua/shine/extensions/tempgroups.lua
!mods/tgns/output/lua/shine/extensions/tgnsbadges.lua
!mods/tgns/output/lua/shine/extensions/updatetoreadyroomhelper.lua
!mods/tgns/output/lua/shine/extensions/uweranking.lua
!mods/tgns/output/lua/shine/extensions/voicecommreminder.lua
!mods/tgns/output/lua/shine/extensions/winorlose.lua

!mods/tgns/source/ui/approve/chevron-disabled.psd
!mods/tgns/source/ui/approve/chevron-team0.psd
!mods/tgns/source/ui/approve/chevron-team1.psd
!mods/tgns/source/ui/approve/chevron-team2.psd

!mods/tgns/source/ui/vr/vr-disabled.psd
!mods/tgns/source/ui/vr/vr-team0.psd
!mods/tgns/source/ui/vr/vr-team1.psd
!mods/tgns/source/ui/vr/vr-team2.psd
!mods/tgns/source/ui/vr/vr-checked-disabled.psd
!mods/tgns/source/ui/vr/vr-checked-team0.psd
!mods/tgns/source/ui/vr/vr-checked-team1.psd
!mods/tgns/source/ui/vr/vr-checked-team2.psd

!mods/tgns/source/ui/squads/squad-disabled1-squad0.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad1.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad2.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad3.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad4.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad5.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad6.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad7.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad8.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad9.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad0.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad1.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad2.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad3.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad4.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad5.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad6.psd
!mods/tgns/source/ui/squads/squad-team1-squad0.psd
!mods/tgns/source/ui/squads/squad-team1-squad1.psd
!mods/tgns/source/ui/squads/squad-team1-squad2.psd
!mods/tgns/source/ui/squads/squad-team1-squad3.psd
!mods/tgns/source/ui/squads/squad-team1-squad4.psd
!mods/tgns/source/ui/squads/squad-team1-squad5.psd
!mods/tgns/source/ui/squads/squad-team1-squad6.psd
!mods/tgns/source/ui/squads/squad-team1-squad7.psd
!mods/tgns/source/ui/squads/squad-team1-squad8.psd
!mods/tgns/source/ui/squads/squad-team1-squad9.psd
!mods/tgns/source/ui/squads/squad-team2-squad0.psd
!mods/tgns/source/ui/squads/squad-team2-squad1.psd
!mods/tgns/source/ui/squads/squad-team2-squad2.psd
!mods/tgns/source/ui/squads/squad-team2-squad3.psd
!mods/tgns/source/ui/squads/squad-team2-squad4.psd
!mods/tgns/source/ui/squads/squad-team2-squad5.psd
!mods/tgns/source/ui/squads/squad-team2-squad6.psd

!mods/tgns/source/ui/badges/tgns1.psd
!mods/tgns/source/ui/badges/tgns2.psd
!mods/tgns/source/ui/badges/tgns3.psd
!mods/tgns/source/ui/badges/tgns4.psd
!mods/tgns/source/ui/badges/tgns5.psd
!mods/tgns/source/ui/badges/tgns6.psd
!mods/tgns/source/ui/badges/tgns7.psd
!mods/tgns/source/ui/badges/tgns8.psd
!mods/tgns/source/ui/badges/tgns9.psd
!mods/tgns/source/ui/badges/tgns10.psd
!mods/tgns/source/ui/badges/tgns11.psd
!mods/tgns/source/ui/badges/tgns12.psd
!mods/tgns/source/ui/badges/tgns13.psd
!mods/tgns/source/ui/badges/tgns14.psd
!mods/tgns/source/ui/badges/tgns15.psd
!mods/tgns/source/ui/badges/tgns16.psd
!mods/tgns/source/ui/badges/tgns17.psd
!mods/tgns/source/ui/badges/tgns18.psd
!mods/tgns/source/ui/badges/tgns19.psd
!mods/tgns/source/ui/badges/tgns20.psd
!mods/tgns/source/ui/badges/tgns21.psd
!mods/tgns/source/ui/badges/tgns22.psd
!mods/tgns/source/ui/badges/tgns23.psd
!mods/tgns/source/ui/badges/tgns24.psd
!mods/tgns/source/ui/badges/tgns25.psd
!mods/tgns/source/ui/badges/tgns26.psd
!mods/tgns/source/ui/badges/tgns27.psd
!mods/tgns/source/ui/badges/tgns28.psd
!mods/tgns/source/ui/badges/tgns29.psd
!mods/tgns/source/ui/badges/tgns30.psd
!mods/tgns/source/ui/badges/tgns31.psd
!mods/tgns/source/ui/badges/tgns32.psd
!mods/tgns/source/ui/badges/tgns33.psd
!mods/tgns/source/ui/badges/tgns34.psd
!mods/tgns/source/ui/badges/tgns35.psd
!mods/tgns/source/ui/badges/tgns36.psd
!mods/tgns/source/ui/badges/tgns37.psd
!mods/tgns/source/ui/badges/tgns38.psd
!mods/tgns/source/ui/badges/tgns39.psd
!mods/tgns/source/ui/badges/tgns40.psd
!mods/tgns/source/ui/badges/tgns41.psd
!mods/tgns/source/ui/badges/tgns42.psd
!mods/tgns/source/ui/badges/tgns43.psd
!mods/tgns/source/ui/badges/tgns44.psd
!mods/tgns/source/ui/badges/tgns45.psd
!mods/tgns/source/ui/badges/tgns46.psd
!mods/tgns/source/ui/badges/tgns47.psd
!mods/tgns/source/ui/badges/tgns48.psd
!mods/tgns/source/ui/badges/tgns49.psd
!mods/tgns/source/ui/badges/tgns50.psd
!mods/tgns/source/ui/badges/tgns51.psd
!mods/tgns/source/ui/badges/tgns52.psd
!mods/tgns/source/ui/badges/tgns53.psd
!mods/tgns/source/ui/badges/tgns54.psd
!mods/tgns/source/ui/badges/tgns55.psd
!mods/tgns/source/ui/badges/tgns56.psd
!mods/tgns/source/ui/badges/tgns57.psd
!mods/tgns/source/ui/badges/tgns58.psd
!mods/tgns/source/ui/badges/tgns59.psd
!mods/tgns/source/ui/badges/tgns60.psd
!mods/tgns/source/ui/query/questionmark-disabled.psd
!mods/tgns/source/ui/query/questionmark-team0.psd
!mods/tgns/source/ui/query/questionmark-team1.psd
!mods/tgns/source/ui/query/questionmark-team2.psd
!mods/tgns/source/ui/query/contactcard-disabled.psd
!mods/tgns/source/ui/query/contactcard-team0.psd
!mods/tgns/source/ui/query/contactcard-team1.psd
!mods/tgns/source/ui/query/contactcard-team2.psd

# And then whitelist spec files

!specs/lib/lemock.lua
!specs/lib/lunity.lua

!specs/tgns/spoofs/TGNS.lua
!specs/tgns/spoofs/spec_TGNS.lua

!specs/tgns/runSpecs.lua
!specs/tgns/specObjects.lua
!specs/tgns/spec_AverageCalculator.lua
!specs/tgns/spec_enforceteamsizes.lua
!specs/tgns/spec_afkkickimproved.lua

# And then whitelist stock overwrite files

!mods/tgns/output/lua/bots/SkulkBrain_Data.lua