# First, ignore everything
*

# Now, whitelist anything that's a directory ( http://stackoverflow.com/a/9227991/116895 )
!*/

# And then whitelist .gitattributes	and .gitignore
!.gitattributes
!.gitignore

# And then whitelist DAK core files
!ns2/lua/DAKLoader_Class.lua
!ns2/lua/DAKLoader_Client.lua
!ns2/lua/DAKLoader_Config.lua
!ns2/lua/DAKLoader_EventHooks.lua
!ns2/lua/DAKLoader_Language.lua
!ns2/lua/DAKLoader_MapCycle.lua
!ns2/lua/DAKLoader_PluginLoader.lua
!ns2/lua/DAKLoader_Server.lua
!ns2/lua/DAKLoader_ServerAdmin.lua
!ns2/lua/DAKLoader_ServerAdminCommands.lua
!ns2/lua/DAKLoader_Settings.lua
!ns2/lua/DAKLoader_Shared.lua

!ns2/lua/lang/EN.lua
!ns2/lua/lang/EN.json

# And then whitelist DAK plugins
!ns2/lua/plugins/config_replaceGetCanPlayerHearPlayer.lua
!ns2/lua/plugins/plugin_replaceGetCanPlayerHearPlayer.lua

!ns2/lua/plugins/config_tempadmin.lua
!ns2/lua/plugins/plugin_tempadmin.lua

!ns2/lua/plugins/config_speclimit.lua
!ns2/lua/plugins/plugin_speclimit.lua

!ns2/lua/plugins/config_afkkick.lua
!ns2/lua/plugins/plugin_afkkick.lua

!ns2/lua/plugins/config_balance.lua
!ns2/lua/plugins/plugin_balance.lua

!ns2/lua/plugins/config_communityslots.lua
!ns2/lua/plugins/plugin_communityslots.lua

!ns2/lua/plugins/config_betterknownas.lua
!ns2/lua/plugins/plugin_betterknownas.lua

!ns2/lua/plugins/config_captains.lua
!ns2/lua/plugins/plugin_captains.lua

!ns2/lua/plugins/config_rookiethrottle.lua
!ns2/lua/plugins/plugin_rookiethrottle.lua

!ns2/lua/plugins/config_winorlose.lua
!ns2/lua/plugins/plugin_winorlose.lua

!ns2/lua/plugins/config_notifyAdminOnMutePlayer.lua
!ns2/lua/plugins/plugin_notifyAdminOnMutePlayer.lua

!ns2/lua/plugins/config_chat.lua
!ns2/lua/plugins/plugin_chat.lua

!ns2/lua/plugins/config_publiccommands.lua
!ns2/lua/plugins/plugin_publiccommands.lua

!ns2/lua/plugins/config_badges.lua
!ns2/lua/plugins/plugin_badges.lua

!ns2/lua/plugins/config_pause.lua
!ns2/lua/plugins/plugin_pause.lua

# mlh todo remove guivotebase files from repo
!ns2/lua/plugins/config_guivotebase.lua
!ns2/lua/plugins/plugin_guivotebase.lua
!ns2/lua/gui/gui_votebase.lua

!ns2/lua/plugins/config_guimenubase.lua
!ns2/lua/plugins/plugin_guimenubase.lua
!ns2/lua/gui/GUIMenuBase.lua

!ns2/lua/plugins/config_scoreboardicons.lua
!ns2/lua/plugins/plugin_scoreboardicons.lua

!ns2/lua/plugins/config_hidespectators.lua
!ns2/lua/plugins/plugin_hidespectators.lua

!ns2/lua/TGNSPlayerDataRepository.lua
!ns2/lua/TGNSCommon.lua

!ns2/lua/plugins/config_autoconcede.lua
!ns2/lua/plugins/config_automapcycle.lua
!ns2/lua/plugins/config_baseadmincommands.lua
!ns2/lua/plugins/config_commbans.lua
!ns2/lua/plugins/config_enhancedlogging.lua
!ns2/lua/plugins/config_mapvote.lua
!ns2/lua/plugins/config_messages.lua
!ns2/lua/plugins/config_motd.lua
!ns2/lua/plugins/config_noattackpregame.lua
!ns2/lua/plugins/config_printablenames.lua
!ns2/lua/plugins/config_prohibitednames.lua
!ns2/lua/plugins/config_reservedslots.lua
!ns2/lua/plugins/config_taglines.lua
!ns2/lua/plugins/config_tournamentmode.lua
!ns2/lua/plugins/config_unstuck.lua
!ns2/lua/plugins/config_voterandom.lua
!ns2/lua/plugins/config_votesurrender.lua
!ns2/lua/plugins/plugin_autoconcede.lua
!ns2/lua/plugins/plugin_automapcycle.lua
!ns2/lua/plugins/plugin_baseadmincommands.lua
!ns2/lua/plugins/plugin_commbans.lua
!ns2/lua/plugins/plugin_enhancedlogging.lua
!ns2/lua/plugins/plugin_mapvote.lua
!ns2/lua/plugins/plugin_messages.lua
!ns2/lua/plugins/plugin_motd.lua
!ns2/lua/plugins/plugin_noattackpregame.lua
!ns2/lua/plugins/plugin_printablenames.lua
!ns2/lua/plugins/plugin_prohibitednames.lua
!ns2/lua/plugins/plugin_reservedslots.lua
!ns2/lua/plugins/plugin_taglines.lua
!ns2/lua/plugins/plugin_tournamentmode.lua
!ns2/lua/plugins/plugin_unstuck.lua
!ns2/lua/plugins/plugin_voterandom.lua
!ns2/lua/plugins/plugin_votesurrender.lua
