# First, ignore everything
*

# Now, whitelist anything that's a directory ( http://stackoverflow.com/a/9227991/116895 )
!*/

# And then whitelist .gitattributes and .gitignore
!.gitattributes
!.gitignore

# And then whitelist ConsistencyConfig.json
!config/ConsistencyConfig.json

# And then whitelist TGNS Steam Workshop mod files
!mods/tgns/mod.settings
!mods/tgns/preview.jpg

# And then whitelist mod sound files
!mods/tgns/fmod/fmoddesigner44463win-installer.exe
!mods/tgns/fmod/readme.txt
!mods/tgns/fmod/assets/armordecay1.wav
!mods/tgns/fmod/assets/buttonclick.wav
!mods/tgns/fmod/assets/countdown.wav
!mods/tgns/fmod/assets/1.wav
!mods/tgns/fmod/assets/2.wav
!mods/tgns/fmod/assets/3.wav
!mods/tgns/fmod/assets/4.wav
!mods/tgns/fmod/assets/5.wav
!mods/tgns/fmod/assets/6.wav
!mods/tgns/fmod/assets/7.wav
!mods/tgns/fmod/assets/8.wav
!mods/tgns/fmod/assets/9.wav
!mods/tgns/fmod/assets/10.wav
!mods/tgns/fmod/assets/ns1_alien_now_we_donce.wav
!mods/tgns/fmod/assets/ns1_marine_lets_move_out.wav
!mods/tgns/fmod/assets/points_spent.wav
!mods/tgns/fmod/assets/select.wav
!mods/tgns/fmod/assets/tooltip.wav
!mods/tgns/fmod/assets/you_win.wav
!mods/tgns/fmod/tgns.fdp
!mods/tgns/output/sound/tgns.fev
!mods/tgns/output/sound/tgns.fsb
!mods/tgns/output/sound/tgns.soundinfo

# And then whitelist TGNS entry file
!mods/tgns/output/lua/entry/TGNS.entry

# And then whitelist TGNS common/shared files
!mods/tgns/output/lua/tgns/TGNS.lua

!mods/tgns/output/lua/tgns/client/TGNSCommonClient.lua

!mods/tgns/output/lua/tgns/server/TGNSAverageCalculator.lua
!mods/tgns/output/lua/tgns/server/TGNSClientKicker.lua
!mods/tgns/output/lua/tgns/server/TGNSCommonServer.lua
!mods/tgns/output/lua/tgns/server/TGNSConnectedTimesTracker.lua
!mods/tgns/output/lua/tgns/server/TGNSDataRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSMessageDisplayer.lua
!mods/tgns/output/lua/tgns/server/TGNSMonthlyNumberGetter.lua
!mods/tgns/output/lua/tgns/server/TGNSNs2StatsProxy.lua
!mods/tgns/output/lua/tgns/server/TGNSPlayerBlacklistRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSPlayerDataRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSPlayerPreferredRepository.lua
!mods/tgns/output/lua/tgns/server/TGNSScoreboardMessageChanger.lua
!mods/tgns/output/lua/tgns/server/TGNSScoreboardPlayerHider.lua
!mods/tgns/output/lua/tgns/server/TGNSServerInfoGetter.lua
!mods/tgns/output/lua/tgns/server/TGNSSessionDataRepository.lua

!mods/tgns/output/lua/tgns/shared/TGNSCommonShared.lua
!mods/tgns/output/lua/tgns/shared/TGNSComprehension.lua
!mods/tgns/output/lua/tgns/shared/TGNSJsonEndpointTranscoder.lua
!mods/tgns/output/lua/tgns/shared/TGNSJsonFileTranscoder.lua
!mods/tgns/output/lua/tgns/shared/TGNSMaxSpeeds.lua
!mods/tgns/output/lua/tgns/shared/TGNSMenuDisplayer.lua

# And then whitelist Shine extension files

!mods/tgns/output/lua/shine/extensions/adminmenu/client.lua
!mods/tgns/output/lua/shine/extensions/adminmenu/server.lua
!mods/tgns/output/lua/shine/extensions/adminmenu/shared.lua
!mods/tgns/output/lua/shine/extensions/afkchanged.lua
!mods/tgns/output/lua/shine/extensions/afkkickhelper.lua
!mods/tgns/output/lua/shine/extensions/arclight/arclight.lua
!mods/tgns/output/lua/shine/extensions/arclight/shared.lua
!mods/tgns/output/lua/shine/extensions/audit.lua
!mods/tgns/output/lua/shine/extensions/autoexec.lua
!mods/tgns/output/lua/shine/extensions/autoexec/client.lua
!mods/tgns/output/lua/shine/extensions/autoexec/server.lua
!mods/tgns/output/lua/shine/extensions/autoexec/shared.lua
!mods/tgns/output/lua/shine/extensions/balance.lua
!mods/tgns/output/lua/shine/extensions/balance/balance.lua
!mods/tgns/output/lua/shine/extensions/balance/shared.lua
!mods/tgns/output/lua/shine/extensions/betterknownas.lua
!mods/tgns/output/lua/shine/extensions/bots.lua
!mods/tgns/output/lua/shine/extensions/broadcast.lua
!mods/tgns/output/lua/shine/extensions/captains.lua
!mods/tgns/output/lua/shine/extensions/captains/captains.lua
!mods/tgns/output/lua/shine/extensions/captains/shared.lua
!mods/tgns/output/lua/shine/extensions/chatchannels.lua
!mods/tgns/output/lua/shine/extensions/communityslots.lua
!mods/tgns/output/lua/shine/extensions/crashreconnect/client.lua
!mods/tgns/output/lua/shine/extensions/crashreconnect/server.lua
!mods/tgns/output/lua/shine/extensions/crashreconnect/shared.lua
!mods/tgns/output/lua/shine/extensions/damagemodifier.lua
!mods/tgns/output/lua/shine/extensions/disablestockmapvote.lua
!mods/tgns/output/lua/shine/extensions/emptymapcycler.lua
!mods/tgns/output/lua/shine/extensions/endgamecommands.lua
!mods/tgns/output/lua/shine/extensions/enforceteamsizes.lua
!mods/tgns/output/lua/shine/extensions/everysecond/client.lua
!mods/tgns/output/lua/shine/extensions/everysecond/server.lua
!mods/tgns/output/lua/shine/extensions/everysecond/shared.lua
!mods/tgns/output/lua/shine/extensions/forceroundstart.lua
!mods/tgns/output/lua/shine/extensions/friendlyfiretweaks.lua
!mods/tgns/output/lua/shine/extensions/fullgameplayed.lua
!mods/tgns/output/lua/shine/extensions/gamestartevents.lua
!mods/tgns/output/lua/shine/extensions/gamestracker.lua
!mods/tgns/output/lua/shine/extensions/greetings.lua
!mods/tgns/output/lua/shine/extensions/groundedrookies.lua
!mods/tgns/output/lua/shine/extensions/help.lua
!mods/tgns/output/lua/shine/extensions/hidefullmodlist.lua
!mods/tgns/output/lua/shine/extensions/hidespectators.lua
!mods/tgns/output/lua/shine/extensions/improvedafkhandler.lua
!mods/tgns/output/lua/shine/extensions/infestedhelper/client.lua
!mods/tgns/output/lua/shine/extensions/infestedhelper/server.lua
!mods/tgns/output/lua/shine/extensions/infestedhelper/shared.lua
!mods/tgns/output/lua/shine/extensions/karma.lua
!mods/tgns/output/lua/shine/extensions/lapstracker.lua
!mods/tgns/output/lua/shine/extensions/lookdown.lua
!mods/tgns/output/lua/shine/extensions/mapvotehelper.lua
!mods/tgns/output/lua/shine/extensions/modupdatednotice.lua
!mods/tgns/output/lua/shine/extensions/movement/movement.lua
!mods/tgns/output/lua/shine/extensions/movement/shared.lua
!mods/tgns/output/lua/shine/extensions/noattackpregame.lua
!mods/tgns/output/lua/shine/extensions/notifyadminonmuteplayer.lua
!mods/tgns/output/lua/shine/extensions/perficon/client.lua
!mods/tgns/output/lua/shine/extensions/perficon/server.lua
!mods/tgns/output/lua/shine/extensions/perficon/shared.lua
!mods/tgns/output/lua/shine/extensions/permissions.lua
!mods/tgns/output/lua/shine/extensions/playerlocationchanged.lua
!mods/tgns/output/lua/shine/extensions/primeablechat/primeablechat.lua
!mods/tgns/output/lua/shine/extensions/primeablechat/shared.lua
!mods/tgns/output/lua/shine/extensions/printablenames.lua
!mods/tgns/output/lua/shine/extensions/push.lua
!mods/tgns/output/lua/shine/extensions/recordinghelper/client.lua
!mods/tgns/output/lua/shine/extensions/recordinghelper/server.lua
!mods/tgns/output/lua/shine/extensions/recordinghelper/shared.lua
!mods/tgns/output/lua/shine/extensions/reluse.lua
!mods/tgns/output/lua/shine/extensions/restartwhenempty/client.lua
!mods/tgns/output/lua/shine/extensions/restartwhenempty/server.lua
!mods/tgns/output/lua/shine/extensions/restartwhenempty/shared.lua
!mods/tgns/output/lua/shine/extensions/rotatingeggspawns/client.lua
!mods/tgns/output/lua/shine/extensions/rotatingeggspawns/server.lua
!mods/tgns/output/lua/shine/extensions/rotatingeggspawns/shared.lua
!mods/tgns/output/lua/shine/extensions/rookiethrottle.lua
!mods/tgns/output/lua/shine/extensions/scoreboard/client.lua
!mods/tgns/output/lua/shine/extensions/scoreboard/server.lua
!mods/tgns/output/lua/shine/extensions/scoreboard/shared.lua
!mods/tgns/output/lua/shine/extensions/serverstart/client.lua
!mods/tgns/output/lua/shine/extensions/serverstart/server.lua
!mods/tgns/output/lua/shine/extensions/serverstart/shared.lua
!mods/tgns/output/lua/shine/extensions/scoreboardicons.lua
!mods/tgns/output/lua/shine/extensions/sidebar.lua
!mods/tgns/output/lua/shine/extensions/siegehelper.lua
!mods/tgns/output/lua/shine/extensions/spawnselectionoverrides.lua
!mods/tgns/output/lua/shine/extensions/specbets.lua
!mods/tgns/output/lua/shine/extensions/speclimit.lua
!mods/tgns/output/lua/shine/extensions/speclisten.lua
!mods/tgns/output/lua/shine/extensions/sprayhelper/client.lua
!mods/tgns/output/lua/shine/extensions/sprayhelper/server.lua
!mods/tgns/output/lua/shine/extensions/sprayhelper/shared.lua
!mods/tgns/output/lua/shine/extensions/stagedteamjoins.lua
!mods/tgns/output/lua/shine/extensions/statusextended.lua
!mods/tgns/output/lua/shine/extensions/taglines.lua
!mods/tgns/output/lua/shine/extensions/targetedcommands.lua
!mods/tgns/output/lua/shine/extensions/td/shared.lua
!mods/tgns/output/lua/shine/extensions/td/td.lua
!mods/tgns/output/lua/shine/extensions/teamres.lua
!mods/tgns/output/lua/shine/extensions/teamroles.lua
!mods/tgns/output/lua/shine/extensions/teamswitch.lua
!mods/tgns/output/lua/shine/extensions/teamticker.lua
!mods/tgns/output/lua/shine/extensions/tempgroups.lua
!mods/tgns/output/lua/shine/extensions/tgnsbadges/client.lua
!mods/tgns/output/lua/shine/extensions/tgnsbadges/server.lua
!mods/tgns/output/lua/shine/extensions/tgnsbadges/shared.lua
!mods/tgns/output/lua/shine/extensions/timedstart.lua
!mods/tgns/output/lua/shine/extensions/updatetoreadyroomhelper.lua
!mods/tgns/output/lua/shine/extensions/uweranking.lua
!mods/tgns/output/lua/shine/extensions/voicecommreminder.lua
!mods/tgns/output/lua/shine/extensions/winorlose.lua
!mods/tgns/output/lua/shine/extensions/wraplength/client.lua
!mods/tgns/output/lua/shine/extensions/wraplength/server.lua
!mods/tgns/output/lua/shine/extensions/wraplength/shared.lua

# whitelist images

!mods/tgns/source/ui/approve/chevron-disabled.psd
!mods/tgns/source/ui/approve/chevron-team0.psd
!mods/tgns/source/ui/approve/chevron-team1.psd
!mods/tgns/source/ui/approve/chevron-team2.psd
!mods/tgns/source/ui/badges/aliens/adren.psd
!mods/tgns/source/ui/badges/aliens/aura.psd
!mods/tgns/source/ui/badges/aliens/cara.psd
!mods/tgns/source/ui/badges/aliens/celerity.psd
!mods/tgns/source/ui/badges/aliens/ClosedTunnel.psd
!mods/tgns/source/ui/badges/aliens/crush.psd
!mods/tgns/source/ui/badges/aliens/focus.psd
!mods/tgns/source/ui/badges/aliens/OpenTunnel.psd
!mods/tgns/source/ui/badges/aliens/phantom.psd
!mods/tgns/source/ui/badges/aliens/regen.psd
!mods/tgns/source/ui/badges/aliens/silence.psd
!mods/tgns/source/ui/badges/aliens/vampirism.psd
!mods/tgns/source/ui/badges/marines/CaptainsBanner.psd
!mods/tgns/source/ui/badges/marines/Cluster.psd
!mods/tgns/source/ui/badges/marines/Gas.psd
!mods/tgns/source/ui/badges/marines/Mines.psd
!mods/tgns/source/ui/badges/marines/Pulse.psd
!mods/tgns/source/ui/badges/marines/Welder.psd
!mods/tgns/source/ui/badges/streaming/camera.psd
!mods/tgns/source/ui/badges/tgns1.psd
!mods/tgns/source/ui/badges/tgns10.psd
!mods/tgns/source/ui/badges/tgns11.psd
!mods/tgns/source/ui/badges/tgns12.psd
!mods/tgns/source/ui/badges/tgns13.psd
!mods/tgns/source/ui/badges/tgns14.psd
!mods/tgns/source/ui/badges/tgns15.psd
!mods/tgns/source/ui/badges/tgns16.psd
!mods/tgns/source/ui/badges/tgns17.psd
!mods/tgns/source/ui/badges/tgns18.psd
!mods/tgns/source/ui/badges/tgns19.psd
!mods/tgns/source/ui/badges/tgns2.psd
!mods/tgns/source/ui/badges/tgns20.psd
!mods/tgns/source/ui/badges/tgns21.psd
!mods/tgns/source/ui/badges/tgns22.psd
!mods/tgns/source/ui/badges/tgns23.psd
!mods/tgns/source/ui/badges/tgns24.psd
!mods/tgns/source/ui/badges/tgns25.psd
!mods/tgns/source/ui/badges/tgns26.psd
!mods/tgns/source/ui/badges/tgns27.psd
!mods/tgns/source/ui/badges/tgns28.psd
!mods/tgns/source/ui/badges/tgns29.psd
!mods/tgns/source/ui/badges/tgns3.psd
!mods/tgns/source/ui/badges/tgns30.psd
!mods/tgns/source/ui/badges/tgns31.psd
!mods/tgns/source/ui/badges/tgns32.psd
!mods/tgns/source/ui/badges/tgns33.psd
!mods/tgns/source/ui/badges/tgns34.psd
!mods/tgns/source/ui/badges/tgns35.psd
!mods/tgns/source/ui/badges/tgns36.psd
!mods/tgns/source/ui/badges/tgns37.psd
!mods/tgns/source/ui/badges/tgns38.psd
!mods/tgns/source/ui/badges/tgns39.psd
!mods/tgns/source/ui/badges/tgns4.psd
!mods/tgns/source/ui/badges/tgns40.psd
!mods/tgns/source/ui/badges/tgns41.psd
!mods/tgns/source/ui/badges/tgns42.psd
!mods/tgns/source/ui/badges/tgns43.psd
!mods/tgns/source/ui/badges/tgns44.psd
!mods/tgns/source/ui/badges/tgns45.psd
!mods/tgns/source/ui/badges/tgns46.psd
!mods/tgns/source/ui/badges/tgns47.psd
!mods/tgns/source/ui/badges/tgns48.psd
!mods/tgns/source/ui/badges/tgns49.psd
!mods/tgns/source/ui/badges/tgns5.psd
!mods/tgns/source/ui/badges/tgns50.psd
!mods/tgns/source/ui/badges/tgns51.psd
!mods/tgns/source/ui/badges/tgns52.psd
!mods/tgns/source/ui/badges/tgns53.psd
!mods/tgns/source/ui/badges/tgns54.psd
!mods/tgns/source/ui/badges/tgns55.psd
!mods/tgns/source/ui/badges/tgns56.psd
!mods/tgns/source/ui/badges/tgns57.psd
!mods/tgns/source/ui/badges/tgns58.psd
!mods/tgns/source/ui/badges/tgns59.psd
!mods/tgns/source/ui/badges/tgns6.psd
!mods/tgns/source/ui/badges/tgns60.psd
!mods/tgns/source/ui/badges/tgns61.psd
!mods/tgns/source/ui/badges/tgns62.psd
!mods/tgns/source/ui/badges/tgns63.psd
!mods/tgns/source/ui/badges/tgns64.psd
!mods/tgns/source/ui/badges/tgns65.psd
!mods/tgns/source/ui/badges/tgns66.psd
!mods/tgns/source/ui/badges/tgns67.psd
!mods/tgns/source/ui/badges/tgns68.psd
!mods/tgns/source/ui/badges/tgns69.psd
!mods/tgns/source/ui/badges/tgns7.psd
!mods/tgns/source/ui/badges/tgns70.psd
!mods/tgns/source/ui/badges/tgns71.psd
!mods/tgns/source/ui/badges/tgns72.psd
!mods/tgns/source/ui/badges/tgns73.psd
!mods/tgns/source/ui/badges/tgns74.psd
!mods/tgns/source/ui/badges/tgns75.psd
!mods/tgns/source/ui/badges/tgns76.psd
!mods/tgns/source/ui/badges/tgns77.psd
!mods/tgns/source/ui/badges/tgns78.psd
!mods/tgns/source/ui/badges/tgns79.psd
!mods/tgns/source/ui/badges/tgns8.psd
!mods/tgns/source/ui/badges/tgns80.psd
!mods/tgns/source/ui/badges/tgns81.psd
!mods/tgns/source/ui/badges/tgns82.psd
!mods/tgns/source/ui/badges/tgns83.psd
!mods/tgns/source/ui/badges/tgns84.psd
!mods/tgns/source/ui/badges/tgns85.psd
!mods/tgns/source/ui/badges/tgns86.psd
!mods/tgns/source/ui/badges/tgns87.psd
!mods/tgns/source/ui/badges/tgns88.psd
!mods/tgns/source/ui/badges/tgns89.psd
!mods/tgns/source/ui/badges/tgns9.psd
!mods/tgns/source/ui/badges/tgns90.psd
!mods/tgns/source/ui/badges/tgns91.psd
!mods/tgns/source/ui/badges/tgns92.psd
!mods/tgns/source/ui/captains/CaptainsBanner.psd
!mods/tgns/source/ui/captains/CommSkill.psd
!mods/tgns/source/ui/captains/FadeSkill.psd
!mods/tgns/source/ui/captains/GorgeSkill.psd
!mods/tgns/source/ui/captains/KhammSkill.psd
!mods/tgns/source/ui/captains/KillRatioSkill.psd
!mods/tgns/source/ui/captains/LerkSkill.psd
!mods/tgns/source/ui/captains/OnosSkill.psd
!mods/tgns/source/ui/query/contactcard-disabled.psd
!mods/tgns/source/ui/query/contactcard-team0.psd
!mods/tgns/source/ui/query/contactcard-team1.psd
!mods/tgns/source/ui/query/contactcard-team2.psd
!mods/tgns/source/ui/query/questionmark-disabled.psd
!mods/tgns/source/ui/query/questionmark-team0.psd
!mods/tgns/source/ui/query/questionmark-team1.psd
!mods/tgns/source/ui/query/questionmark-team2.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad0.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad1.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad2.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad3.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad4.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad5.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad6.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad7.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad8.psd
!mods/tgns/source/ui/squads/squad-disabled1-squad9.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad0.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad1.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad2.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad3.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad4.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad5.psd
!mods/tgns/source/ui/squads/squad-disabled2-squad6.psd
!mods/tgns/source/ui/squads/squad-team1-squad0.psd
!mods/tgns/source/ui/squads/squad-team1-squad1.psd
!mods/tgns/source/ui/squads/squad-team1-squad2.psd
!mods/tgns/source/ui/squads/squad-team1-squad3.psd
!mods/tgns/source/ui/squads/squad-team1-squad4.psd
!mods/tgns/source/ui/squads/squad-team1-squad5.psd
!mods/tgns/source/ui/squads/squad-team1-squad6.psd
!mods/tgns/source/ui/squads/squad-team1-squad7.psd
!mods/tgns/source/ui/squads/squad-team1-squad8.psd
!mods/tgns/source/ui/squads/squad-team1-squad9.psd
!mods/tgns/source/ui/squads/squad-team2-squad0.psd
!mods/tgns/source/ui/squads/squad-team2-squad1.psd
!mods/tgns/source/ui/squads/squad-team2-squad2.psd
!mods/tgns/source/ui/squads/squad-team2-squad3.psd
!mods/tgns/source/ui/squads/squad-team2-squad4.psd
!mods/tgns/source/ui/squads/squad-team2-squad5.psd
!mods/tgns/source/ui/squads/squad-team2-squad6.psd
!mods/tgns/source/ui/vr/vr-checked-disabled.psd
!mods/tgns/source/ui/vr/vr-checked-team0.psd
!mods/tgns/source/ui/vr/vr-checked-team1.psd
!mods/tgns/source/ui/vr/vr-checked-team2.psd
!mods/tgns/source/ui/vr/vr-disabled.psd
!mods/tgns/source/ui/vr/vr-team0.psd
!mods/tgns/source/ui/vr/vr-team1.psd
!mods/tgns/source/ui/vr/vr-team2.psd
!mods/tgns/source/ui/welcome/readyroom1.psd
!mods/tgns/source/ui/welcome/readyroom1_p.psd
!mods/tgns/source/ui/welcome/readyroom1_s.psd

# whitelist sprays
!mods/tgns/source/ui/sprays/tgns.psd
!mods/tgns/output/ui/sprays/tgns.material
!mods/tgns/source/ui/sprays/160301.psd
!mods/tgns/output/ui/sprays/160301.material
!mods/tgns/source/ui/sprays/2321845.psd
!mods/tgns/output/ui/sprays/2321845.material
!mods/tgns/source/ui/sprays/4392671.psd
!mods/tgns/output/ui/sprays/4392671.material
!mods/tgns/source/ui/sprays/6287842.psd
!mods/tgns/output/ui/sprays/6287842.material
!mods/tgns/source/ui/sprays/9081504.psd
!mods/tgns/output/ui/sprays/9081504.material
!mods/tgns/source/ui/sprays/9329083.psd
!mods/tgns/output/ui/sprays/9329083.material
!mods/tgns/source/ui/sprays/15924490.psd
!mods/tgns/output/ui/sprays/15924490.material
!mods/tgns/source/ui/sprays/41757063.psd
!mods/tgns/output/ui/sprays/41757063.material


# And then whitelist spec files

!specs/lib/lemock.lua
!specs/lib/lunity.lua

!specs/tgns/spoofs/TGNS.lua
!specs/tgns/spoofs/spec_TGNS.lua

!specs/tgns/runSpecs.lua
!specs/tgns/specObjects.lua
!specs/tgns/spec_AverageCalculator.lua
!specs/tgns/spec_enforceteamsizes.lua
!specs/tgns/spec_afkkickimproved.lua

# And then whitelist stock overwrite files

!mods/tgns/output/lua/bots/SkulkBrain_Data.lua